{% extends 'endpoint_base.html' %}
{% set title='Format' %}
{% block contents %}
<div class="flex justify-center items-center h-screen">
    <div class="spinner">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1 class="ml-2 text-4xl dark:text-white">Format in progress...</h1>
</div>
{% endblock %}
{% block scripts %}
<script>var type="{{ type }}";</script>
<script src="{{ url_for('static',filename='js/modules/socket.io.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/scripts/format.js') }}"></script>
{% endblock %}