{% extends 'endpoint_base.html' %}
{% set title='Scan' %}
{% block contents %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-black rounded-full">
        <div class="loader">
            <span></span>
        </div>
    </div>
    <h1 class="ml-8 text-4xl dark:text-white">Scan in progress...</h1>
</div>
{% endblock %}
{% block scripts %}
<script>
    var scan_id = "{{ scan_id }}";
    var url = "{{ url_for('scan.scan_state') }}"
    var interval = setInterval(function() { 
        $.get(url,function(data){
            if (data.state){
                window.location = "/scan/path/";
                clearInterval(interval)
            }
        });
    }, 2000);
</script>
{% endblock %}