[Unit]
Description=SABU - Automount USB

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/sabu/endpoint/core/scripts/usb_automount.sh add %i
ExecStop=/sabu/endpoint/core/scripts/usb_automount.sh remove %i
