{% extends 'endpoint_base.html' %}
{% set title='Endpoint' %}
{% block contents %}
    <!-- INDEX BASE -->
    <div class="p-4">
        <div class="p-8 mt-16">
            <div class="grid grid-cols-3 gap-8 mt-8">
                <a href="{{ url_for('scan.index') }}" class="bg-darkblue hover:bg-lightblue rounded-xl shadow-lg h-52">
                    <div class="flex justify-center items-center h-full">
                        <div class="flex-col space-y-8 items-center">
                            <h1 class="flex justify-center text-4xl text-white"><i class="fa-solid fa-bug"></i></h1>
                            <h1 class="flex justify-center font-semibold text-2xl text-white">SCAN</h1>
                        </div>
                    </div>
                </a>            
                <button data-modal-show="resultScanModal" data-modal-target="resultScanModal" class="bg-darkblue hover:bg-lightblue rounded-xl shadow-lg h-52">
                    <div class="flex justify-center items-center h-full">
                        <div class="flex-col space-y-8 items-center">
                            <h1 class="flex justify-center text-4xl text-white"><i class="fa-solid fa-eraser"></i></h1>
                            <h1 class="flex justify-center font-semibold text-2xl text-white">FORMAT</h1>
                        </div>
                    </div>
                </button>
                <a href="{{ url_for('browser.index') }}" class="bg-darkblue hover:bg-lightblue rounded-xl shadow-lg h-52">
                    <div class="flex justify-center items-center h-full">
                        <div class="flex-col space-y-8 items-center">
                            <h1 class="flex justify-center text-4xl text-white"><i class="fa-solid fa-window-maximize"></i></h1>
                            <h1 class="flex justify-center font-semibold text-2xl text-white">BROWSER</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="flex justify-center mt-12">
                <h1 class="text-xl font-semibold mr-2">USB Status :</h1> 
                <!-- IF -->
                <h1 class="text-xl font-semibold text-red-500">Not connected</h1>
                <!-- ELSE -->
                <!-- <h1 class="text-xl font-semibold text-green-500">Connected</h1> -->

            </div>
        </div>
    </div>

    <!-- Format Modal -->
    <div id="formatModal" data-modal-backdrop="static" tabindex="-1" class="backdrop-blur-sm fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="closeRemoveModal absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="formatModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-6 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">What type of formatting do you want ?</h3>
                    <button data-modal-hide="formatModal" type="button" class="closeRemoveModal text-white bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        Simple format
                    </button>
                    <button data-modal-hide="formatModal" type="button" class="closeRemoveModal text-white bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        Advanced format
                    </button>
                    <button data-modal-hide="formatModal" type="button" class="closeRemoveModal text-gray-500 bg-white focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- DetectUSB Modal -->
    <div id="detectUsbModal" data-modal-backdrop="static" tabindex="-1" class="backdrop-blur-sm fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" class="closeRemoveModal absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="detectUsbModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-6 text-center">
                    <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Usb key is not connected !</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- ResultScan Modal -->
    <div id="resultScanModal" data-modal-backdrop="static" tabindex="-1" class="backdrop-blur-sm fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Result Scan
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="resultScanModal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <div class="p-6 text-center">
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Result Scan...</h3>
                    <button data-modal-hide="resultScanModal" type="button" class="closeRemoveModal text-white bg-darkblue focus:ring-4 focus:outline-none focus:ring-darkblue dark:focus:ring-darkblue font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}