{% extends 'endpoint_base.html' %}
{% set title='Endpoint' %}
{% block contents %}
    <!-- INDEX BASE -->
    <div class="p-4">
        <div class="p-8 mt-16">
            <div class="grid grid-cols-3 gap-8 mt-8">
                <a href="{{ url_for('scan.index') }}" class="bg-darkblue hover:bg-lightblue rounded-xl shadow-lg h-52">
                    <div class="flex justify-center items-center h-full">
                        <div class="flex-col space-y-8 items-center">
                            <h1 class="flex justify-center text-4xl text-white"><i class="fa-solid fa-bug"></i></h1>
                            <h1 class="flex justify-center font-semibold text-2xl text-white">SCAN</h1>
                        </div>
                    </div>
                </a>            
                <a href="{{ url_for('index.index') }}" class="bg-darkblue hover:bg-lightblue rounded-xl shadow-lg h-52">
                    <div class="flex justify-center items-center h-full">
                        <div class="flex-col space-y-8 items-center">
                            <h1 class="flex justify-center text-4xl text-white"><i class="fa-solid fa-eraser"></i></h1>
                            <h1 class="flex justify-center font-semibold text-2xl text-white">FORMAT</h1>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('browser.index') }}" class="bg-darkblue hover:bg-lightblue rounded-xl shadow-lg h-52">
                    <div class="flex justify-center items-center h-full">
                        <div class="flex-col space-y-8 items-center">
                            <h1 class="flex justify-center text-4xl text-white"><i class="fa-solid fa-window-maximize"></i></h1>
                            <h1 class="flex justify-center font-semibold text-2xl text-white">BROWSER</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}